<form [formGroup]="filterForm">
    <fieldset>
      <legend class="font-bold mb-2">Filtrar:</legend>
      <div class="flex gap-2 overflow-auto" formArrayName="filters">
        @for (control of filterForm.controls.filters.controls; track control) {
          <label class="p-2 border-2 border-neutral-300 whitespace-nowrap font-mono transition-colors has-[:focus]:border-primary">
            <span>{{ names()[$index] }} = </span>
                      
            <select 
              [id]="'truth-table-filter-' + $index" 
              [formControlName]="$index"
              class="cursor-pointer"
            >
              @for (option of filterOptions; track option) {
                <option [value]="option">{{ option }}</option>
              }
            </select>   
          </label>
        }
      </div>
    </fieldset>
</form>
