<main class="py-9 container mx-auto">
  <section>
    <form [formGroup]="expressionForm" (ngSubmit)="handleFormSubmit()">
      <label for="expression">
        <div class="mb-2 font-bold">Expressão booleana:</div>
      </label>

      <div class="flex items-center space-x-2">
        <input
          app-input
          id="expression"
          name="expression"
          formControlName="expression"
          type="text"
          class="block w-full"
          placeholder="Ex: A + B . ~C ^ (D == E)"
        />

        <button app-button aria-label="Processar expressão">
          <lucide-icon [img]="submitBtnIcon" class="size-5" />
        </button>
      </div>

      @if (truthTableError(); as error) {
      <small>{{ error }}</small>
      }
    </form>
  </section>

  @if (showSyntaxGuide()) {
    <app-syntax-guide 
      class="block mt-3"
      (close)="showSyntaxGuide.set(false)" 
    />
  }

  @if (!(truthTableIsEmpty() || truthTableError())) {
    <section class="mt-8">
      <app-thuth-table class="mx-auto" [table]="truthTable()" />
    </section>
  }
</main>
